# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# VSCode settings
.vscode/

# Environment variables
.env

# macOS / Windows / Linux
.DS_Store
Thumbs.db